!!!
%html
  %head
    %title Todos
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
  %ul.hmenu
    = render 'main/registration_items'
    = render 'main/login_items'

  %p.notice= notice
  %p.alert= alert
  = yield
